body, html {
    height: 100%;
    margin: 0;
}

.main {
    background-image: url("images/foto_Plakat2.png");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
}

.flags {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 3%;
}

.flags img {
    height: 1.5rem;
    width: 2rem;
    margin: 0 0.5rem;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin: 2% 5% 5% 0;
}

.social img {
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
}

.text {
    margin: 0 25%;
}

.text h3 {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
}

.text h1 {
    color: #fff;
    text-align: center;
    font-size: 5.7rem;
    font-weight: bold;
}

.text p {
    color: #ffffff;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
}
