@font-face {
    font-family: HelveticaNeue;
    src: url(fonts/HelveticaNeue-01.ttf);
    src: url(fonts/HelveticaNeue-01.ttf) format("woff"),
    url(fonts/HelveticaNeue-01.ttf) format("truetype"),
    url(fonts/HelveticaNeue-01.ttf) format("opentype"),
    url(fonts/HelveticaNeue-01.ttf) format("svg");;
}

@font-face {
    font-family: DINPro;
    src: url(fonts/DINPro-CondBold.otf);
    src: url(fonts/DINPro-CondBold.otf) format("woff"),
    url(fonts/DINPro-CondBold.otf) format("truetype"),
    url(fonts/DINPro-CondBold.otf) format("opentype"),
    url(fonts/DINPro-CondBold.otf) format("svg");;
}

body, html {
    height: 100%;
    margin: 0;
    position: relative;
}

.main {
    background-image: url("images/facebook.png");
    height: 100%;
    width: 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: inherit;
    position: absolute;
}

.flags {
    display: flex;
    justify-content: flex-start;
    margin-right: 3%;
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.flags img {
    width: 1.875rem;
    margin: 0 0.5rem;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-left: 3%;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.social img {
    height: 1.875rem;
    width: 1.875rem;
    margin: 0 0.5rem;
}

.text {
    margin: 5% 25% 0;
}

.text img {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text h2 {
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    font-family: DINPro, serif;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.text h2 span {
    font-size: 1.4rem;
}

.text h3 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: DINPro, serif;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.text p {
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    font-family: HelveticaNeue, serif;
    margin: 0 0 5rem 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .main {
        background-size: auto;
        background-position: inherit;
        background-repeat: inherit;
    }

    .text {
        margin: 20% 15% 0;
    }

    .text h2 {
        font-size: 2.5rem;
    }

    .text h2 span {
        font-size: 2.3rem;
    }

    .text h3 {
        font-size: 2rem;
    }

    .text p {
        font-size: 1.5rem;
        margin: 0 0 2rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .main {
        background-size: auto;
        background-position: inherit;
        background-repeat: inherit;
    }

    .text {
        margin: 20% 10% 0;
    }

    .text h2 {
        font-size: 2.5rem;
    }

    .text h2 span {
        font-size: 2.3rem;
    }

    .text h3 {
        font-size: 2rem;
    }

    .text p {
        font-size: 1.5rem;
        margin: 0 0 2rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main {
        background-size: auto;
        background-position: inherit;
    }

    .social img {
        margin: 0 0.5rem;
    }

    .flags {
        position: relative;
        justify-content: flex-end;
        margin-left: 3%;
        margin-right: 0;
        top: 3rem;
        right: 3rem;
        left: -3rem;
    }

    .social {
        position: relative;
    }

    .text {
        margin: 20% 5% 0;
    }

    .text img {
        width: 90%;
    }

    .text h2 {
        font-size: 1.3rem;
    }

    .text h2 span {
        font-size: 1.2rem;
    }

    .text h3 {
        font-size: 0.8rem;
    }

    .text p {
        font-size: 1rem;
        margin: 0 0 2rem;
    }
}
